body * {
    border-color: #3f485e;
}
.gsc-comment-box-tabs {
    background: #1a1e28;
}
.input-contrast:focus {
    background-color: #181e29;
}
.gsc-comment-box-textarea:focus {
    border-color: #3e4350;
}
.input-contrast {
    background-color: #181e29;
}
.BtnGroup-item.BtnGroup-item--selected {
    background-color: transparent;
    border-color: transparent;
}
.color-bg-tertiary.color-border-primary.gsc-comment-box-tabs {
    background: #272d3b;
}
.gsc-comment-box-textarea-extras {
    display: none;
}
.color-box-border-info {
    border-color: transparent;
}
.color-border-primary {
    border-color: transparent;
}
.form-control {
    border-color: transparent;
    background-color: #181e29;
}
.color-bg-canvas {
    background: #222632;
}
.color-bg-primary {
    background: #222632;
}
.btn.btn-primary,
.btn.btn-primary:disabled {
    background-color: #256586;
    border-color: #307193;
    color: #ffffff;
}
.btn {
    background-color: transparent;
    border-color: transparent;
}
.color-fg-default, .color-text-primary, .link-primary {
    color: #e5e5e5;
}
.gsc-social-reaction-summary-item,
.gsc-social-reaction-summary-item.has-reacted {
    background-color: #303748;
    border-color: transparent;
}
.gsc-social-reaction-summary-item,
.gsc-social-reaction-summary-item.has-reacted,
.gsc-social-reaction-summary-item.has-reacted:hover,
.gsc-social-reaction-summary-item.has-reacted:hover:enabled {
    background-color: #303748;
}
.gsc-reactions-popover.open {
    background: #272d3b;
    border: 1px solid #535353;
}
.gsc-reactions-popover.open.bottom:before {
    border-bottom-color: #535353;
}
.gsc-reactions-popover.open.top:before {
    border-top-color: #535353;
}
.gsc-emoji-button.has-reacted {
    border-width: 0px;
    opacity: 0.3;
}
.gsc-reply-box {
    border-top-width: 0;
    padding-inline-end: 0;
    padding-bottom: 0px;
    padding-inline-start: 0;
    padding-top: 0;
    width: 103px;
    color: #7c8190;
    margin-left: auto;
}
.color-bg-tertiary {
    background-color: #303748;
}
.gsc-comment-footer, .gsc-reply-footer {
    align-content: center;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    margin-bottom: 8px;
}

.gsc-reply-box .form-control {
    background: #222632;
    border-color: transparent;
}
